<h1 class="display-4 pt-4 pb-4">Profile</h1>
<div *ngIf="!componentLoading && !error">
  <div class="alert alert-danger mt-3" role="alert" *ngIf="notFound">
    {{notFound}}
  </div>
  <div *ngIf="!notFound">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]="user?.avatar" class="card-img p-2"
               alt="User profile picture">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title mb-0">{{user?.username}}</h5>
            <p class="card-text"><small class="text-muted">{{user?.id}}</small></p>
            <p class="card-text">{{user?.status}}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex flex-wrap">
                  <h5>
                    <span class="badge badge-dark ml-2 mr-2">
                  {{user?.postCount == 1 ? "1 Post" : user?.postCount + " Posts"}}
                    </span>
                  </h5>
                  <h5>
                    <span class="badge badge-dark ml-2 mr-2">
                  {{user?.commentCount == 1 ? "1 Comment" : user?.commentCount + " Comments"}}
                    </span>
                  </h5>
                  <h5>
                    <span class="badge badge-dark  ml-2 mr-2">
                {{user?.score == 1 ? "1 Like received" : user?.score + " Likes received"}}
                    </span>
                  </h5>
                </div>
              </li>
              <li class="list-group-item"><span class="text-muted">Last activity:</span> {{user?.lastAcitivty}}</li>
              <li class="list-group-item pb-0"><span class="text-muted">Joined:</span> {{user?.createdAt}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h1 class="display-4 pt-4 pb-4">Posts</h1>
      <div *ngIf="user?.postCount">
        <div class="list-group" *ngFor="let post of user?.userActivity.posts.reverse()">
          <a [routerLink]="'/post/'+post.id" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <span class="post-title">{{post.title}}</span>
              <small class="pl-2">
            <span class="badge badge-dark">
              {{post.score == 1 ? "1 Like" : post.score + " Likes"}}
            </span>&nbsp;
                <span class="post-time">
             {{post.createdAt}}</span>
              </small>
            </div>
          </a>
        </div>
      </div>
      <p class="lead" *ngIf="!user?.postCount">{{user.username}} has not posted anything.</p>
    </div>
  </div>
</div>
<div *ngIf="componentLoading">
  <div class="spinner-border text-secondary loading-spinner">
  </div>
</div>
<div *ngIf="error">
  <div class="text-danger d-flex justify-content-center">
    <p class="lead">Error contacting server. Try again later.</p>
  </div>
  <div class="text-danger d-flex justify-content-center">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
           class="bi bi-cloud-slash-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M3.112 5.112a3.125 3.125 0 0 0-.17.613C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13H11L3.112 5.112zm11.372 7.372L4.937 2.937A5.512 5.512 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773a3.2 3.2 0 0 1-1.516 2.711zm-.838 1.87l-12-12 .708-.708 12 12-.707.707z"/>
      </svg>
    </div>
  </div>
</div>
