<h1 class="display-4 pt-4 pb-4">Profile</h1>
<div class="alert alert-danger mt-3" role="alert" *ngIf="notFound">
  {{notFound}}
</div>
<div class="card" *ngIf="!notFound">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/500" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mb-0">{{user?.username}}</h5>
        <p class="card-text"><small class="text-muted">{{user?.id}}</small></p>
        <p class="card-text">{{user?.status}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{user?.postCount == 1 ? "1 post" : user?.postCount + " posts"}} and
            {{user?.commentCount == 1 ? "1 comment" : user?.commentCount + " comments"}}
          </li>
          <li class="list-group-item"><span class="text-muted">Last activity:</span> {{user?.lastAcitivty}}</li>
          <li class="list-group-item"><span class="text-muted">Joined:</span> {{user?.createdAt}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<h1 class="display-4 pt-4 pb-4" *ngIf="!notFound">Posts</h1>
<div *ngIf="!notFound">
  <div class="list-group" *ngFor="let post of user?.userActivity.posts">
    <a routerLink="/post/{{post.id}}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <span>{{post.title}}</span>
        <small>{{post.createdAt}}</small>
      </div>

    </a>
  </div>
</div>

