<div class="row">
  <div class="col-xl-8">

    <div class="mt-4">
      <h2 class="post-title">{{post?.title}} ({{post?.id}})</h2>
      <p class="text-muted">Posted {{post?.createdAt}} by <a
        routerLink="/user/{{post?.author._id}}">{{post?.author.username}}</a></p>
      <p class="text-muted font-italic" *ngIf="post?.createdAt != post?.updatedAt">Last updated {{post?.updatedAt}}</p>

      <hr>
      <p>{{post?.description}}</p>
      <hr>

      <ul *ngFor="let comment of comments">
        <li>{{comment.author.username}}: {{comment.description}}</li>
      </ul>

    </div>

  </div>

  <div class="col-xl-4">

    <div class="card mt-5" *ngIf="post?.author.username === getUsername()">
      <div class="card-body">
        <h5 class="card-title">Manage your post</h5>
        <button class="btn btn-secondary btn-block" routerLink="/post/{{post?.id}}/edit">Edit post</button>
        <button class="btn btn-danger btn-block" routerLink="/post/{{post?.id}}/delete">Delete post</button>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-header">
        User action
      </div>
      <div class="card-body">
        <button class="btn btn-success btn-block">Upvote/Like</button>
        <button class="btn btn-primary btn-block">Save</button>
        <button class="btn btn-info btn-block">Share</button>
        <button class="btn btn-info btn-block">Write comment</button>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-header">
        Overview
      </div>
      <div class="card-body">
        <h5 class="card-title">Statistics</h5>
        <p class="card-text">17 comments by 15 users
        </p>
        <p class="card-text">15 votes
        </p>
        <p class="card-text">more stats</p>
      </div>
    </div>

  </div>
</div>
