.post-title {
  word-break: break-all;
}

.post-description {
  white-space: pre-wrap;
}

.post-img {
  object-fit: contain;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.carousel-indicators {

}
