@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/forms";

.registerForm {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.cross-validation-error input {
  @extend .is-invalid
}

.ng-valid {
  &:not(.ng-untouched) {
    @extend .is-valid
  }
}

.ng-invalid {
  &:not(.ng-untouched) {
    @extend .is-invalid
  }
}

