.fade-out {
  background-image: linear-gradient(90deg, black, #0000000f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.post-img-preview {
  object-fit: cover;
  max-height: 200px;
}

.btn-label:disabled,
.btn-label[disabled] {
  opacity: 1 !important;
  max-width: 150px;
}
