<div class="row">
  <div class="col-xl-8">
    <div class="alert alert-info mt-5" *ngIf="empty">
      No posts yet!
    </div>
    <div *ngFor="let post of posts">
      <div class="card mb-3 mt-3">
        <div class="card-body">
          <h5 class="card-title"><a routerLink="/post/{{post.id}}">{{post.title}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted" title="{{post.author._id}}">posted by <a
            routerLink="/user/{{post?.author._id}}">{{post?.author.username}}</a></h6>
          <div class="card-text mb-1">{{post.description | slice: 0 : 225}}<span
            class="fade-out"
            *ngIf="post.description.length > 225">{{post.description | slice: 225 : 250}}
            ...</span>
          </div>
          <p class="card-text">
            <small class="text-muted">
              <span class="badge badge-primary">Primary</span>
              <span class="badge badge-secondary">Secondary</span>
              <span class="badge badge-success">Success</span>
              <span class="badge badge-danger">Danger</span>
              <span class="badge badge-warning">Warning</span>
              <span class="badge badge-info">Info</span>
              <span class="badge badge-light">Light</span>
              <span class="badge badge-dark">Dark</span>
            </small>
          </p>
        </div>
        <!--<img src="https://via.placeholder.com/1800x1500" class="card-img-bottom" alt="...">-->
        <div class="card-footer">
          <small class="text-muted">{{post.createdAt}} <span
            *ngIf="post.createdAt != post.updatedAt">• Last updated {{post.updatedAt}}</span></small>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-4">

    <div class="card mt-5">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>

</div>


