<h1 class="display-2 pt-5 pb-5 text-center">Login</h1>
<div class="alert alert-danger" role="alert" *ngIf="alert">
  {{alert}}
</div>

<div *ngIf="error">
  <div class="text-danger d-flex justify-content-center">
    <p class="lead">Error contacting server. Try again later.</p>
  </div>
  <div class="text-danger d-flex justify-content-center">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
           class="bi bi-cloud-slash-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M3.112 5.112a3.125 3.125 0 0 0-.17.613C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13H11L3.112 5.112zm11.372 7.372L4.937 2.937A5.512 5.512 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773a3.2 3.2 0 0 1-1.516 2.711zm-.838 1.87l-12-12 .708-.708 12 12-.707.707z"/>
      </svg>
    </div>
  </div>
</div>


<form class="form-login text-center" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" name="username" formControlName="username" class="form-control"
         placeholder="Username" required
         autofocus autocomplete="on" minlength="2" pattern="^(?=[a-zA-Z0-9-_]{2,16}$)[^_-].*[^_-]$">


  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required
         autocomplete="on" minlength="5"
         pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{5,32}$">

  <button class="btn btn-lg btn-success btn-block mt-3" type="submit" [disabled]="loginForm.disabled">
    <span *ngIf="!isLoading">Login</span>
    <span *ngIf="isLoading" class="spinner-border" role="status"></span>
  </button>

  <button class="btn btn-lg btn-outline-secondary btn-block mt-3" routerLink="/register"
          [disabled]="loginForm.disabled">Go to Register
  </button>
</form>
