<div class="card mt-5" *ngIf="!isLoggedIn()">
  <div class="card-body">
    <h5 class="card-title">Create an account or login</h5>
    <p class="card-text">You can create your own posts, or vote and comment on other posts.</p>
    <button class="btn btn-success btn-block" routerLink="login">Login</button>
    <button class="btn btn-primary btn-block" routerLink="register">Register</button>
  </div>
</div>

<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">About this project</h5>
    <div *ngIf="!loading && !error">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="mb-0">
        <span class="badge bg-dark text-white btn-block">
          {{convertBytes(projectData.db.storageSize)}} Database size
        </span>
          </h5>
        </li>
        <li class="list-group-item d-flex flex-column">
          <h5 class="mb-0">
        <span class="badge bg-dark text-white btn-block">
          {{projectData.user.count == 1 ? "1 User" : projectData.user.count + " Users"}}
        </span>
          </h5>
          <h5 class="mb-0">
        <span class="badge bg-dark text-white btn-block">
          {{projectData.post.count == 1 ? "1 Post" : projectData.post.count + " Posts"}}
        </span>
          </h5>
          <h5 class="mb-0">
        <span class="badge bg-dark text-white btn-block">
          {{projectData.comment.count == 1 ? "1 Comment" : projectData.comment.count + " Comments"}}
        </span>
          </h5>
          <h5 class="mb-0">
        <span class="badge bg-dark text-white btn-block">
          {{projectData.vote.count == 1 ? "1 Like" : projectData.vote.count + " Likes"}}
        </span>
          </h5>
        </li>
      </ul>
    </div>
    <div *ngIf="error">
      <div class="text-danger d-flex justify-content-center">
        <div>Error contacting server</div>
      </div>
      <div class="text-danger d-flex justify-content-center">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
               class="bi bi-cloud-slash-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M3.112 5.112a3.125 3.125 0 0 0-.17.613C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13H11L3.112 5.112zm11.372 7.372L4.937 2.937A5.512 5.512 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773a3.2 3.2 0 0 1-1.516 2.711zm-.838 1.87l-12-12 .708-.708 12 12-.707.707z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="m-4 d-flex align-items-center flex-column" *ngIf="loading">
    <div class="spinner-border text-muted m-5"></div>
  </div>

</div>
<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Need help?</h5>
    <p class="card-text">
      Check out the Help and Frequently Asked Questions
    </p>
    <a routerLink="/help" class="btn btn-info btn-block">Go to Help and FAQ</a>
  </div>
</div>
