<h1 class="display-4 pt-4 pb-4">Create new post</h1>

<form #newPostForm="ngForm" (ngSubmit)="onSubmit()">
  <div [hidden]="newPostForm.submitted">
    <div class="cross-validation" [class.cross-validation-error]="newPostForm.touched || newPostForm.dirty">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" class="form-control" required [(ngModel)]="post.title"
               #title="ngModel">
        <small class="form-text text-muted"
               *ngIf="!title.invalid || title.untouched">Required.</small>
        <div *ngIf="title.invalid && (title.dirty || title.touched)"
             class="invalid-feedback">

          <div *ngIf="title.errors.required">
            Every post needs a title.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" required minlength="3"
                  onkeydown='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                  [(ngModel)]="post.description"
                  #description="ngModel"></textarea>
        <small class="form-text text-muted"
               *ngIf="!description.invalid || description.untouched">Required.</small>
        <div *ngIf="description.invalid && (description.dirty || description.touched)"
             class="invalid-feedback">

          <div *ngIf="description.errors.required">
            Text posts require a description.
          </div>
          <div *ngIf="description.errors.minlength">
            This description seems a bit short.
          </div>
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-success" [disabled]="newPostForm.invalid">Post!</button>

  </div>

  <div class="posted-message" *ngIf="newPostForm.submitted">
    <div class="alert alert-success" role="alert">
      Success! You can check out your post <a routerLink="../{{successId}}">here</a>.
    </div>
  </div>
</form>
