<h1 class="display-4 pt-4 pb-4">Create new post</h1>

<form #newPostForm="ngForm" (ngSubmit)="onSubmit()">
  <div [hidden]="newPostForm.submitted">
    <h6>Post type</h6>
    <div class="btn-group mb-3">
      <button type="button" class="btn btn-primary" disabled id="btn-text-post" (click)="setPostType('text')">Text
      </button>
      <button type="button" class="btn btn-outline-secondary" id="btn-img-post" (click)="setPostType('img')">Image
      </button>
      <button type="button" class="btn btn-outline-secondary" id="btn-link-post" (click)="setPostType('link')">Link
      </button>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" name="title" type="text" class="form-control" required [(ngModel)]="post.title"
             #title="ngModel">
      <small class="form-text text-muted"
             *ngIf="!title.invalid || title.untouched">Required.</small>
      <div *ngIf="title.invalid && (title.dirty || title.touched)"
           class="invalid-feedback">

        <div *ngIf="title.errors.required">
          Every post needs a title.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" class="form-control" required minlength="3"
                onkeydown='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                [(ngModel)]="post.description"
                #description="ngModel"></textarea>
      <small class="form-text text-muted"
             *ngIf="!description.invalid || description.untouched">Required.</small>
      <div *ngIf="description.invalid && (description.dirty || description.touched)"
           class="invalid-feedback">

        <div *ngIf="description.errors.required">
          Text posts require a description.
        </div>
        <div *ngIf="description.errors.minlength">
          This description seems a bit short.
        </div>
      </div>
    </div>
    <h6 *ngIf="post.type === 'img'">You can upload one to three pictures for an image post.</h6>
    <div *ngIf="post.type === 'img'" class="row">
      <div class="col-md-2">
        <ul>
          <li>PNG/JPEG only</li>
          <li>Max. 500 kb</li>
        </ul>
      </div>
      <div class="col-md-10 d-flex flex-wrap">
        <div class="form-group">
          <label for="image-1" class="text-muted">Image 1</label>
          <input type="file" class="form-control-file" id="image-1" name="imageOne" (change)="onFileChange($event)">
          <small class="text-success"
                 *ngIf="postImages.imageOne.size < 500000 && postImages.imageOne.size">
            {{postImages.imageOne?.size / 1000}} kb
          </small>
          <small class="text-danger" *ngIf="postImages.imageOne.size > 500000">
            {{postImages.imageOne?.size / 1000}} kb
          </small>
          <br>
          <small class="text-success"
                 *ngIf="postImages.imageOne.type.includes('png') || postImages.imageOne.type.includes('jpeg')">
            {{postImages.imageOne.type}}
          </small>
          <small class="text-danger"
                 *ngIf="!(postImages.imageOne.type.includes('png') || postImages.imageOne.type.includes('jpeg'))">
            {{postImages.imageOne.type}}
          </small>
        </div>
        <div class="form-group">
          <label for="image-2" class="text-muted">Image 2</label>
          <input type="file" class="form-control-file" id="image-2" name="imageTwo" (change)="onFileChange($event)">
          <small class="text-success"
                 *ngIf="postImages.imageTwo.size < 500000 && postImages.imageTwo.size">
            {{postImages.imageTwo?.size / 1000}} kb
          </small>
          <small class="text-danger" *ngIf="postImages.imageTwo.size > 500000">
            {{postImages.imageTwo?.size / 1000}} kb
          </small>
          <br>
          <small class="text-success"
                 *ngIf="postImages.imageTwo.type.includes('png') || postImages.imageTwo.type.includes('jpeg')">
            {{postImages.imageTwo.type}}
          </small>
          <small class="text-danger"
                 *ngIf="!(postImages.imageTwo.type.includes('png') || postImages.imageTwo.type.includes('jpeg'))">
            {{postImages.imageTwo.type}}
          </small>
        </div>
        <div class="form-group">
          <label for="image-3" class="text-muted">Image 3</label>
          <input type="file" class="form-control-file" id="image-3" name="imageThree" (change)="onFileChange($event)">
          <small class="text-success"
                 *ngIf="postImages.imageThree.size < 500000 && postImages.imageThree.size">
            {{postImages.imageThree?.size / 1000}} kb
          </small>
          <small class="text-danger" *ngIf="postImages.imageThree.size > 500000">
            {{postImages.imageThree?.size / 1000}} kb
          </small>
          <br>
          <small class="text-success"
                 *ngIf="postImages.imageThree.type.includes('png') || postImages.imageThree.type.includes('jpeg')">
            {{postImages.imageThree.type}}
          </small>
          <small class="text-danger"
                 *ngIf="!(postImages.imageThree.type.includes('png') || postImages.imageThree.type.includes('jpeg'))">
            {{postImages.imageThree.type}}
          </small>

        </div>

      </div>
    </div>

    <div *ngIf="post.type  === 'link'">
      link form here
    </div>

    <button type="submit" class="btn btn-success" [disabled]="newPostForm.invalid || fileIsInvalid">Post!
    </button>

  </div>

  <div class="posted-message" *ngIf="newPostForm.submitted">
    <div class="alert alert-success" role="alert">
      Success! You can check out your post <a routerLink="../{{successId}}">here</a>.
    </div>
  </div>
</form>
