<h1 class="display-4 pt-4 pb-4">Edit account</h1>
<div *ngIf="error">
  <div class="text-danger d-flex justify-content-center">
    <p class="lead">Error contacting server. Try again later.</p>
  </div>
  <div class="text-danger d-flex justify-content-center">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
           class="bi bi-cloud-slash-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M3.112 5.112a3.125 3.125 0 0 0-.17.613C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13H11L3.112 5.112zm11.372 7.372L4.937 2.937A5.512 5.512 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773a3.2 3.2 0 0 1-1.516 2.711zm-.838 1.87l-12-12 .708-.708 12 12-.707.707z"/>
      </svg>
    </div>
  </div>
</div>
<div *ngIf="!componentLoading && !error">
  <div class="alert alert-{{info.type}}" *ngIf="info.message" style="white-space: pre-wrap">{{info.message}}
  </div>

  <form #editUserForm="ngForm" (ngSubmit)="onSubmit()" id="editUserForm">
    <div class="cross-validation" [class.cross-validation-error]="editUserForm.touched || editUserForm.dirty">
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="editUsername">Username</label>
          <input id="editUsername" name="editUsername" type="text" class="form-control" required
                 minlength="2" [(ngModel)]="user.username" #editUsername="ngModel"
                 [ngModelOptions]="{ updateOn: 'blur' }"
                 appUniqueUsername pattern="^(?=[a-zA-Z0-9-_]{2,16}$)[^_-].*[^_-]$" maxlength="16"
                 autocomplete="username">

          <small class="form-text text-muted" *ngIf="editUsername.pending">Checking username...</small>
          <div *ngIf="editUsername.invalid && (editUsername.dirty || editUsername.touched)"
               class="invalid-feedback">

            <div *ngIf="editUsername.errors.required">
              Username is required.
            </div>
            <div *ngIf="editUsername.errors.pattern">
              Username is not matching the <a routerLink="/help"
                                              [queryParams]="{
                                          s: 'What are the username and password requirements?'
                                          }">requirements</a>.
            </div>
            <div *ngIf="editUsername.errors?.uniqueError">
              This username is already taken.
            </div>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="editPassword">Password</label>
          <input id="editPassword" name="editPassword" type="password" class="form-control"
                 [(ngModel)]="user.password"
                 #editPassword="ngModel" placeholder="(unchanged)" autocomplete="new-password"
                 pattern="(^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{5,32}$)">
          <small id="passwordHelp" class="form-text text-muted" *ngIf="editPassword.touched && editPassword.value">5-32
            characters. At least one
            <span class="font-italic">uppercase</span>,
            one <span class="font-italic">lowercase</span>,
            one <span class="font-italic">number</span> and
            one <span class="font-italic">special character (@$!%*?&)</span>.
          </small>
          <div *ngIf="editPassword.invalid && (editPassword.dirty || editPassword.touched)"
               class="invalid-feedback">

            <div *ngIf="editPassword.errors.pattern">
              New password is not matching the <a routerLink="/help"
                                                  [queryParams]="{
                                          s: 'What are the username and password requirements?'
                                          }">requirements</a>.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="editStatus">Status</label>
        <input id="editStatus" name="editStatus" type="text" class="form-control" [(ngModel)]="user.status"
               #editStatus="ngModel" maxlength="150">
      </div>
      <div class="form-row d-flex flex-column mb-2">
        <p class="mb-1">Profile picture</p>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="resetAvatar" name="resetAvatar"
                   (change)="setCheckbox($event)">
            <label class="form-check-label" for="resetAvatar">
              Delete current profile picture and use generated one.
            </label>
          </div>
        </div>
        <div class="form-group mr-5">
          <label for="customAvatar">Example file input</label>
          <input type="file" class="form-control-file" id="customAvatar" name="customAvatar" [disabled]="resetAvatar"
                 accept="image/jpeg, image/png" (change)="onFileChange($event)">
          <small class="text-muted">Only PNG/JPEG allowed. 500kb max</small>
          <br *ngIf="user.avatar.size">
          <small class="text-success"
                 *ngIf="user.avatar.size <= 500000 && user.avatar.size">
            {{user.avatar.size / 1024 | number: '1.0-0' }} kb
          </small>
          <small class="text-danger" *ngIf="user.avatar.size > 500000">
            {{user.avatar.size / 1024 | number: '1.0-0' }} kb
          </small>
          <br *ngIf="user.avatar.size">
          <small class="text-success"
                 *ngIf="user.avatar.type.includes('png') || user.avatar.type.includes('jpeg')">
            {{user.avatar.type}}
          </small>
          <small class="text-danger"
                 *ngIf="!(user.avatar.type.includes('png') || user.avatar.type.includes('jpeg'))">
            {{user.avatar.type}}
          </small>
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-success"
            [disabled]="(editUserForm.invalid || editUsername.pending || !this.user.avatar.valid || working)">
      <span *ngIf="!working">Update profile</span>
      <div *ngIf="working">
        <div class="spinner-border">
        </div>
      </div>
    </button>

  </form>
</div>
<div *ngIf="componentLoading">
  <div class="spinner-border text-secondary loading-spinner">
  </div>
</div>
