<h1 class="display-4 pt-4 pb-4">Delete user profile</h1>
<p class="lead">
  This action will delete your account permanently with no way to recover it. It also includes deleting your comments
  and posts. Comments of other users on your posts will be deleted as well.</p>
<div class="alert alert-success mt-3" role="alert" *ngIf="alert">
  {{alert}}
</div>
<h4>Enter your username to delete your account.</h4>
<div class="row">
  <div class="col-sm-6 align-self-center">
    <label for="deleteUsername"></label>
    <input id="deleteUsername" type="text" class="form-control" [placeholder]="username" [(ngModel)]="input">
  </div>
</div>

<button type="submit" class="btn btn-lg btn-danger mt-4 mb-4" (click)="deleteAccount()" [disabled]="alert || working">
  <span *ngIf="!working">Delete account</span>
  <div *ngIf="working">
        <span class="spinner-border">
        </span>
  </div>
</button>

